<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app color="fo" class="drawer d-flex flex-column">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6 white--text"> Call Protection </v-list-item-title>
          <v-list-item-subtitle class="white--text"> Service Portal </v-list-item-subtitle>
        </v-list-item-content>
        <v-btn
          icon
          @click="
            () => {
              this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
            }
          "
        >
          <v-icon color="white">mdi-brightness-4</v-icon>
        </v-btn>
      </v-list-item>
      <v-divider color="white"></v-divider>
      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" :to="item.to" link class="white--text">
          <v-list-item-icon>
            <v-icon color="secondary">{{ item.icon }} </v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <template v-slot:append>
        <span class="d-block pa-5 white--text text-center text-caption">Copyright &copy; 2022 First Orion</span>
      </template>
    </v-navigation-drawer>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer" color="secondary"></v-app-bar-nav-icon>
      <v-img
        class="pa-0 ma-0 ml-0"
        :src="this.$vuetify.theme.dark ? 'fo-logo-white.svg' : 'fo-logo.svg'"
        max-height="30"
        max-width="215"
        :contain="true"
      ></v-img>
      <p id="title" class="persephone">Persephone</p>
    </v-app-bar>
    <v-main :class="this.$vuetify.theme.dark ? '' : 'grey lighten-2'">
      <router-view></router-view>
    </v-main>
    <snack-bar />
  </v-app>
</template>

<script lang="ts">
import Vue from 'Vue';
import { Component } from 'vue-property-decorator';
import SnackBar from '@/components/SnackBar.vue';

@Component({
  components: {
    SnackBar,
  },
})
export default class App extends Vue {
  drawer = false;
  items = [
    { title: 'Home', icon: 'mdi-shield-home-outline', to: '/' },
    { title: 'Scoring Results', icon: 'mdi-cellphone-information', to: '/scoring' },
    { title: 'Phone Number Lookup', icon: 'mdi-magnify', to: '/lookup' },
  ];
}
</script>
<style>
.drawer {
  background-image: url('/public/fo-watermark.png');
  background-position: center 90%;
  background-size: 300px 300px;
}
@font-face {
  font-family: 'montserrat';
  src: url('/public/montserrat.ttf') format('ttf');
}

p#title {
  color: #df1995;
  font-family: montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  margin: auto;
  margin-left: 0;
  text-transform: uppercase;
  margin-bottom: 0.5;
  font-size: 1.3rem;
}

@media screen and (max-width: 599px) {
  p#title {
    margin-bottom: 1.9;
    padding: 0;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1263px) {
  p#title {
    margin-left: 0.1rem;
  }
}
</style>
