<template>
  <v-data-table :headers="headers" :items="items" item-key="eventId" :search="search" :items-per-page="itemsPerPage" :hide-default-footer="footer">
    <template v-slot:[`item.score`]="{ item }">
      <v-chip :color="getScoreColor(item.score)" dark>
        {{ item.score }}
      </v-chip>
    </template>
    <template v-slot:[`item.disposition`]="{ item }">
      <v-chip :color="getDispositionColor(item.disposition)" dark>
        {{ item.disposition }}
      </v-chip>
    </template>
  </v-data-table>
</template>

<script lang="ts">
import Vue from 'Vue';
import { Component, Prop } from 'vue-property-decorator';
import ScoringResult from '../types/ScoringResult';
import { store } from "@/store";

@Component
export default class ResultsTable extends Vue {
  @Prop({ default: [] })
  items!: ScoringResult[];

  @Prop({ default: '' })
  search!: string;

  @Prop({ default: 10 })
  itemsPerPage!: number;

  @Prop({ default: false })
  footer!: boolean;

  store = store;

  headers = [
    {
      text: 'Event ID',
      align: 'start',
      sortable: false,
      value: 'eventId',
    },
    { text: 'Calling Number', value: 'event.aNumber' },
    { text: 'Receiving Number', value: 'event.bNumber' },
    { text: 'Call Time', value: 'event.callTime' },
    { text: 'Call Disposition', value: 'disposition' },
    { text: 'Score', value: 'score' },
  ];
  getScoreColor(score: number) {
    if (score >= 90) return 'red';
    else if (score >= 80 && score < 90) return 'orange';
    else return 'green';
  }
  getDispositionColor(disposition: string) {
    if (disposition === 'Blocked') return 'red';
    if (disposition === 'Notified') return 'orange';
    else return 'green';
  }
}
</script>

<style></style>
