<template>
  <v-snackbar v-model="store.snackbar.snackbar.show">
    {{ store.snackbar.snackbar.text }}
    <template v-slot:action="{ attrs }">
      <v-btn color="pink" text v-bind="attrs" @click="store.snackbar.snackbar.show = false"> Close </v-btn>
    </template>
  </v-snackbar>
</template>

<script lang="ts">
import Vue from 'Vue';
import { Component } from 'vue-property-decorator';
import { store } from '@/store';

@Component
export default class SnackBar extends Vue {
  store = store;
}
</script>

<style></style>
