<script lang="ts">
  let genUUID = () => {
    const RFC4122_TEMPLATE = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx';
    const replacePlaceholders = (placeholder: string) => {
      const random = Math.floor(Math.random() * 16) % 16;
      const value = placeholder === 'x' ? random : (random & 0x3) | 0x8;
      return value.toString(16);
    };
    return RFC4122_TEMPLATE.replace(/[xy]/g, replacePlaceholders);
  };

  let genPhoneNumber = () => {
    return (Math.floor(Math.random() * 10000000000) % 10000000000).toString();
  };

  type Request = {
    eventId: string;
    aNumber: string;
    bNumber: string;
    sipInvite: string;
  };

  type Metadata = {
    blocklistDecision: string;
    category: string;
    hourOfDay: number;
    numvalDecision: string;
    score: number;
  };

  type Response = {
    eventId: string;
    isScam: boolean;
    blockCall: boolean;
    metadata: Metadata;
  };

  let makeEvent = (): Request => {
    let req: Request = {
      eventId: genUUID(),
      aNumber: genPhoneNumber(),
      bNumber: genPhoneNumber(),
      sipInvite: 'BLAH BLAH BLAH',
    };
    return req;
  };

  let currEvent: Request = makeEvent();

  let addToBatch = (count?: number) => {
    if (responses.length > 0) {
      responses = [];
    }
    if (count) {
      for (let i = 0; i < count - 1; i++) {
        requests.push(makeEvent());
      }
    }
    requests.push(currEvent);
    requests = requests;
    currEvent = makeEvent();
  };

  let submitBatch = async (e: MouseEvent) => {
    e.preventDefault();
    if (requests.length < 1) {
      return;
    }
    let send = requests;
    requests = [];
    let resp = await fetch('api/call-protection/batch', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(send),
    });
    resp = await resp.json();
    responses = resp.body as any;
    requests = [];
  };

  let requests: Request[] = [];
  let responses: Response[] = [];
</script>

<main>
  <header>
    <h1>Persephone</h1>
    <a href="https://bitbucket.org/cps-project-team-persephone-2022/hades/src/main/" target="_blank">BitBucket</a>
  </header>
  <article>
    <form id="event">
      <fieldset>
        <button on:click|preventDefault={() => addToBatch()}>Add to batch</button>
        <button on:click|preventDefault={() => addToBatch(10)}>Add 10</button>
        <button on:click|preventDefault={() => addToBatch(100)}>Add 100</button>
        <button on:click|preventDefault={() => addToBatch(1000)}>Add 1000</button>
      </fieldset>
      <label for="eventId">Event ID</label>
      <input type="text" name="eventId" bind:value={currEvent.eventId} />
      <label for="aNumber">Calling Phone Number</label>
      <input type="text" name="aNumber" bind:value={currEvent.aNumber} />
      <label for="bNumber">Receiving Phone Number</label>
      <input type="text" name="bNumber" bind:value={currEvent.bNumber} />
      <textarea name="sipInvite" bind:value={currEvent.sipInvite} hidden />
    </form>
    <section>
      <fieldset>
        <button on:click={submitBatch}>Submit batch</button>
      </fieldset>
      {#if requests.length > 0}
        {#each requests as req}
          <div>
            <h3>Event ID: {req.eventId}</h3>
            <p>Calling Number: {req.aNumber}</p>
            <p>Receiving Number: {req.bNumber}</p>
          </div>
        {/each}
      {/if}
    </section>
    <section class="responses">
      {#if responses.length > 0 && responses}
        {#each responses as res}
          <div class={res.blockCall ? 'blocked' : res.isScam ? 'scam' : ''}>
            <h3>{res.eventId}</h3>
            {#if res.blockCall}
              <p>Blocked</p>
              <p class="valid">{res.metadata.numvalDecision}</p>
              <p class="category">{res.metadata.category}</p>
              <p class="score">Score: {res.metadata.score}</p>
            {:else if res.isScam}
              <p>Scam Likely</p>
              <p class="valid">{res.metadata.numvalDecision}</p>
              <p class="category">{res.metadata.category}</p>
              <p class="score">Score: {res.metadata.score}</p>
            {:else}
              <p>Valid</p>
              <p class="valid">{res.metadata.numvalDecision}</p>
              <p class="category">{res.metadata.category}</p>
              <p class="score">Score: {res.metadata.score}</p>
            {/if}
          </div>
        {/each}
      {:else}
        <p>No results yet...</p>
      {/if}
    </section>
  </article>
  <footer>
    Copyright &copy; 2022 <a href="https://firstorion.com/" target="_blank">First Orion</a>
  </footer>
</main>

<style>
  :global(*) {
    box-sizing: border-box;
  }
  :global(html) {
    font-size: 5px;
    box-sizing: border-box;
  }
  :global(body) {
    font-size: 3.6rem;
    background: #ddddee;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
  }
  :global(a) {
    color: black;
    font-weight: bold;
  }
  main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100%;
  }
  header {
    display: flex;
    justify-content: space-between;
    background: #bbbbcc;
    border-bottom: 2px solid #aaaaaa;
  }
  header > h1 {
    margin: 0;
    padding: 2rem 7rem;
  }
  header > a {
    color: black;
    font-weight: bold;
    align-self: center;
    display: flex;
    padding: 4rem 7rem;
    border-left: 1px solid #9999aa;
  }
  header > a:hover {
    text-decoration: none;
    background: #555566;
    color: white;
  }
  article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5rem;
    gap: 5rem;
    box-sizing: border-box;
  }
  article > * {
    padding: 3rem;
    border-radius: 5rem;
    background: #eeeeff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  article > * > fieldset {
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  }
  article > * > fieldset > button {
    padding: 2rem 2rem;
    border: none;
    background: #4f7192;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    border-bottom: 3px solid #333344;
    box-shadow: 0px 1px 2px #00000055;
    text-transform: uppercase;
    min-height: 75px;
    outline: none;
  }
  article > * > fieldset > button:first-of-type {
    border-radius: 2rem 0 0 2rem;
  }
  article > * > fieldset > button:last-of-type {
    border-radius: 0 2rem 2rem 0;
  }
  article > * > fieldset > button:only-of-type {
    border-radius: 2rem;
  }
  article > * > fieldset > button:hover {
    cursor: pointer;
  }
  article > * > fieldset > button:active {
    border-bottom-width: 1px;
    margin-top: 1px;
  }
  article > form > input {
    width: 100%;
    font-size: 5rem;
    border-radius: 2rem;
    margin: 0;
  }
  article > form > label {
    text-transform: uppercase;
    padding: 2rem 2rem;
    font-size: 3rem;
  }
  article > section > p {
    text-align: center;
    align-self: center;
    font-weight: bolder;
  }

  article > section > div {
    border-radius: 2rem;
    background: #ddddee;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin: 2rem 0;
  }
  article > section > div > h3 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
  }
  article > section > div > p {
    margin: 0;
    height: 100;
    justify-self: center;
  }
  section.responses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }
  section.responses > div {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  section.responses > div {
    margin: 0;
    background: #23792a;
    color: white;
  }
  section.responses > div.blocked {
    background: #852929;
    color: white;
  }
  section.responses > div.scam {
    background: #d8870e;
    color: white;
  }
  section.responses > div > h3 {
    font-size: 2rem;
    text-align: center;
  }
  section.responses > div > p {
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    align-self: center;
  }
  section.responses > div > p.score {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
  }
  section.responses > div > p.category {
    font-size: 4rem;
    font-weight: 400;
  }
  section.responses > div > p.valid {
    font-size: 3rem;
    font-weight: 400;
  }
  footer {
    padding: 2rem;
    text-align: center;
    background: #aaaabb;
    border-top: 2px solid #888888;
  }
</style>
