<template>
  <v-container fluid>
    <v-row class="metrics mt-3 justify-space-between col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <v-card
        class="blocked-stat stat flex-grow-1"
        :class="this.$vuetify.theme.dark ? 'darken-2' : ''"
        elevation="3"
        color="secondary"
      >
        <v-card-text class="pb-0 text-h1 font-weight-black white--text">{{ posts.percentBlocked }}%</v-card-text>
        <v-card-text class="text-h5 pt-1 white--text font-weight-bold">Calls blocked </v-card-text>
      </v-card>
      <v-card
        class="score-stat stat flex-grow-1"
        :class="this.$vuetify.theme.dark ? 'darken-2' : ''"
        elevation="3"
        color="dblue"
      >
        <v-card-text class="pb-0 text-h1 font-weight-black white--text">{{ posts.averageScore }}</v-card-text>
        <v-card-text class="text-h5 pt-1 white--text font-weight-bold">Average scam score </v-card-text>
      </v-card>
      <v-card
        class="category-stat stat flex-grow-1"
        :class="this.$vuetify.theme.dark ? 'darken-2' : ''"
        elevation="3"
        color="orange"
      >
        <v-card-text class="pb-0 text-h1 font-weight-black white--text">{{ posts.mostBlockedCategory }}</v-card-text>
        <v-card-text class="text-h5 pt-1 white--text font-weight-bold">Most blocked category </v-card-text>
      </v-card>
    </v-row>
    <v-subheader
      class="col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-h5 text-uppercase mt-5 pl-0"
      >About the team</v-subheader
    >
    <v-divider class="col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2"></v-divider>
    <v-list class="col-sm-12 offset-sm-0 col-md-10 offset-md-1 col-lg-8 offset-lg-2 transparent">
      <div class="about-list">
        <v-list-item class="mb-10" v-for="member in members" :key="member.name">
          <v-list-item-avatar width="10rem" height="10rem">
            <v-img :src="member.img"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title class="text-h5 font-weight-black">{{ member.name }}</v-list-item-title>
            <p class="text-h6">{{ member.bio }}</p>
          </v-list-item-content>
        </v-list-item>
      </div>
    </v-list>
  </v-container>
</template>

<script>
import Vue from 'Vue';
import axios from 'axios';
import { Component } from 'vue-property-decorator';
import { store } from '@/store';

@Component
export default class HomeView extends Vue {
  drawer = null;
  dialog = false;
  stats = ['Calls Blocked', 'Average Score', 'Most Commonly Blocked'];
  posts = {
    percentBlocked: '--',
    averageScore: '--',
    mostBlockedCategory: '--',
  };
  members = [
    {
      name: 'Zach Callahan',
      bio: 'Oh my god you are killing me with this spacing',
      img: 'team-zach.png',
    },
    { name: 'Brandon Lingo', bio: 'I made the spacing', img: 'team-brandon.png' },
    {
      name: 'Angela Thompson',
      bio: 'I am Angela. I am on team persephone. I made the colors',
      img: 'team-angela.png',
    },
    {
      name: 'Reem Alsaffar',
      bio: 'I made the table and brought snacks',
      img: 'team-reem.png',
    },
    {
      name: 'Sara Tiffin',
      bio: 'Did you ever hear the tragedy of Darth Plagueis The Wise?',
      img: 'team-sara.png',
    },
  ];
  async getData() {
    try {
      const response = await axios.get('api/call-protection/aggregates');
      this.posts = response.data.body;
    } catch (e) {
      store.snackbar.errorMessage('Could not fetch metrics from the API: ' + e);
    }
  }

  created() {
    this.getData();
  }
}
</script>

<style>
.metrics {
  gap: 1.5rem;
  margin: 0;
}
.stat::before {
  position: absolute;
  inset: 0;
  opacity: 0.2;
  content: '';
}
.blocked-stat::before {
  background-image: url('/public/blocked-bg.svg');
  background-position: right 0px top 0px;
}
.score-stat::before {
  background-image: url('/public/score-bg.svg');
  background-position: right -10px top 0px;
}
.category-stat::before {
  background-image: url('/public/category-bg.svg');
  background-position: left 0px top 0px;
  transform: scaleX(-1);
}
.about-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
}
@media screen and (max-width: 1024px) {
  .about-list {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .metrics {
    margin: 0 !important; /*blame vuetify for this*/
  }
}
</style>
