<template>
  <v-container class="pa-10">
    <v-row class="d-flex col-12 ma-0">
      <v-card class="flex-grow-1">
        <v-text-field
          v-model="searchNum"
          @keyup.enter="fetchAll()"
          outlined
          :label="searchLabel"
          append-icon="mdi-magnify"
          width="100%"
          hide-details
          clearable
          :class="this.$vuetify.theme.dark ? 'white--text' : ''"
        ></v-text-field>
      </v-card>
    </v-row>
    <v-row class="d-flex col-12 justify-space-between ma-0 number-info" v-if="numInfo">
      <v-card
        :color="numInfo.categoryCode === 'SC' ? 'error' : numInfo.categoryCode === 'UN' ? 'orange' : '#6cc24a'"
        :class="this.$vuetify.theme.dark ? 'darken-2' : ''"
        class="d-flex flex-col justify-center white--text flex-grow-1"
      >
        <div class="d-flex flex-column justify-center flex-shrink-0 flex-grow-1">
          <v-card-title class="d-block text-lg-h2 text-h4 font-weight-black text-center">{{
            searchedNum
          }}</v-card-title>
          <v-card-text class="d-inline text-lg-h4 text-h5 font-weight-bold text-center">{{
            numInfo.categoryCode + ' - ' + numInfo.categoryName
          }}</v-card-text>
        </div>
      </v-card>
      <v-list rounded dense elevation="2" class="d-flex flex-column justify-start white--text flex-grow-1">
        <v-subheader class="mb-2 text-uppercase">
          Blocked Numbers
          <v-spacer />
          <v-dialog v-model="addNumberDialog" max-width="400px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="text-"> Add Number to Blocklist </v-card-title>
              <v-card-text>
                <v-form>
                  <v-text-field label="Phone Number" required v-model="elemToAdd"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="addNumberDialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="addNumber()">Submit</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="removeNumberDialog" max-width="400px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to remove this phone number?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" text @click="removeNumberDialog = false">Cancel</v-btn>
                <v-btn color="blue-darken-1" text @click="removeNumber()">Ok</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-subheader>
        <v-divider></v-divider>
        <div class="scroll-list">
          <v-list-item v-for="item in blockedAnumbers" :key="item">
            {{ item }}
            <v-spacer />
            <v-btn icon>
              <v-icon
                @click="
                  removeNumberDialog = true;
                  elemToRemove = item;
                "
                >mdi-delete</v-icon
              >
            </v-btn>
          </v-list-item>
        </div>
      </v-list>
      <v-list rounded dense elevation="2" class="d-flex flex-column white--text flex-grow-1 justify-start">
        <v-subheader class="mb-2 text-uppercase">
          Blocked Categories
          <v-spacer />
          <v-dialog v-model="addCategoryDialog" max-width="400px">
            <template v-slot:activator="{ on, attrs }">
              <v-btn icon v-bind="attrs" v-on="on">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <v-card>
              <v-card-title class="text-5"> Add Category to Block </v-card-title>
              <v-card-text>
                <v-form>
                  <v-select v-model="elemToAdd" :items="categoryCodes" label="Category Code"></v-select>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="addCategoryDialog = false">Close</v-btn>
                <v-btn color="blue darken-1" text @click="addCategory()">Submit</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog v-model="removeCategoryDialog" max-width="400px">
            <v-card>
              <v-card-title class="text-h5">Are you sure you want to remove this category?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue-darken-1" text @click="removeCategoryDialog = false">Cancel</v-btn>
                <v-btn color="blue-darken-1" text @click="removeCategory()">Ok</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-subheader>
        <v-divider></v-divider>
        <div class="scroll-list">
          <v-list-item v-for="item in blockedCategories" :key="item">
            {{ item }}
            <v-spacer />
            <v-btn icon>
              <v-icon
                @click="
                  removeCategoryDialog = true;
                  elemToRemove = item;
                "
                >mdi-delete</v-icon
              >
            </v-btn>
          </v-list-item>
        </div>
      </v-list>
    </v-row>
    <v-row class="d-flex col-12 ma-0" v-if="items.length > 0">
      <v-card class="d-flex flex-column justify-center white--text flex-grow-1 mt-0">
        <div class="d-flex card-title">
          <v-card-title class="d-inline-block">Event History</v-card-title>
          <v-btn
            small
            class="white--text ma-4 ml-auto"
            color="secondary"
            dark
            @click="store.callResults.limit = store.callResults.limit === -1 ? 5 : -1"
            v-if="items.length > 5"
            elevation="0"
          >
            ... See {{ store.callResults.limit === 5 ? 'More' : 'Less' }}
          </v-btn>
        </div>
        <results-table :items="items" :search="resultSearch" :itemsPerPage="store.callResults.limit" :footer="true">
        </results-table>
      </v-card>
    </v-row>
    <v-row v-if="items.length === 0 && numInfo" class="v-flex justify-center mt-10">
      <h3 class="text-h6">No event history for this number</h3>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from 'Vue';
import { Component } from 'vue-property-decorator';
import ScoringResult from '@/types/ScoringResult';
import NumberInfo from '@/types/NumberInfo';
import ResultsTable from '@/components/ResultsTable.vue';
import { store } from '@/store';
import axios from 'axios';

@Component({
  components: {
    ResultsTable,
  },
})
export default class Lookup extends Vue {
  categoryCodes = [
    { text: 'MD - Medical', value: 'MD' },
    { text: 'PL - Political', value: 'PL' },
    { text: 'CO - Commercial', value: 'CO' },
    { text: 'TM - Telemarketing', value: 'TM' },
    { text: 'DC - Debt Collectors', value: 'DC' },
    { text: 'RS - Residential', value: 'RS' },
    { text: 'GV - Government', value: 'GV' },
    { text: 'ED - Education', value: 'ED' },
    { text: 'UN - Unknown', value: 'UN' },
    { text: 'SC - Known Scam (blocked by default)', value: 'SC' },
  ];

  blockedAnumbers: string[] = [];
  blockedCategories: string[] = [];
  addNumberDialog = false;
  addCategoryDialog = false;
  removeNumberDialog = false;
  removeCategoryDialog = false;

  searchLabel = 'Enter a phone number...';
  resultSearch = '';
  searchNum = '';
  searchedNum = '';
  elemToRemove = '';
  elemToAdd = '';
  limit = 10;
  numInfo: NumberInfo | null = null;
  items: ScoringResult[] = [];

  store = store;

  numIsValid(num: string) {
    return num.match(/^\+?[1-9]\d{1,14}$/) !== null;
  }

  async fetchNumberResults() {
    try {
      const res = await axios.get(`api/call-protection/results/${this.searchNum}?limit=0`);
      if (res.status !== 200) throw new Error();
      this.items = res.data.body as ScoringResult[];
      this.searchedNum = this.searchNum;
      this.searchNum = '';
      this.items.forEach((item) => {
        item.disposition = item.blockCall ? 'Blocked' : item.isScam ? 'Notified' : 'Allowed';
        item.event.callTime = new Date((item.event.callTime as number) * 1000).toISOString();
      });
    } catch (e) {
      store.snackbar.errorMessage('Could not fetch number results from API: ' + e);
    }
  }

  async fetchNumberInfo() {
    try {
      const res = await axios.get(`api/call-protection/phone/${this.searchNum}`);
      if (res.status !== 200) throw new Error();
      while (this.blockedAnumbers.length > 0) {
        this.blockedAnumbers.pop();
      }
      while (this.blockedCategories.length > 0) {
        this.blockedCategories.pop();
      }
      this.numInfo = res.data.body as NumberInfo;
      if (this.numInfo.blockedAnumbers === null) {
        this.numInfo.blockedAnumbers = [];
      } else {
        this.numInfo.blockedAnumbers.map((item) => {
          this.blockedAnumbers.push(item);
        });
      }
      if (this.numInfo.blockedCategories === null) {
        this.numInfo.blockedCategories = [];
      } else {
        this.numInfo.blockedCategories.map((item) => {
          this.blockedCategories.push(item);
        });
      }
    } catch (e) {
      store.snackbar.errorMessage('Could not fetch number info from API: ' + e);
    }
  }

  async fetchAll() {
    if (!this.numIsValid(this.searchNum)) {
      store.snackbar.errorMessage('Please enter a properly formatted phone number');
    } else {
      this.fetchNumberInfo();
      this.fetchNumberResults();
    }
  }

  async addNumber() {
    if (!this.numIsValid(this.elemToAdd)) {
      store.snackbar.errorMessage('Please enter a properly formatted phone number');
      return;
    }
    (this.numInfo as NumberInfo).blockedAnumbers.push(this.elemToAdd);
    try {
      const res = await axios.put(`api/call-protection/phone/${this.searchedNum}`, this.numInfo);
      if (res.status !== 204) {
        (this.numInfo as NumberInfo).blockedAnumbers = this.blockedAnumbers;
        throw new Error();
      }
      this.addNumberDialog = false;
      this.blockedAnumbers = (this.numInfo as NumberInfo).blockedAnumbers;
      this.elemToAdd = '';
    } catch (e) {
      store.snackbar.errorMessage('Could not update blocked A number list in API: ' + e);
    }
  }

  async addCategory() {
    if ((this.numInfo as NumberInfo).blockedCategories.includes(this.elemToAdd)) {
      store.snackbar.errorMessage('That category is already being blocked');
      return;
    }
    (this.numInfo as NumberInfo).blockedCategories.push(this.elemToAdd);
    try {
      const res = await axios.put(`api/call-protection/phone/${this.searchedNum}`, this.numInfo);
      if (res.status !== 204) {
        (this.numInfo as NumberInfo).blockedCategories = this.blockedCategories;
        throw new Error();
      }
      this.addCategoryDialog = false;
      this.blockedCategories = (this.numInfo as NumberInfo).blockedCategories;
      this.elemToAdd = '';
    } catch (e) {
      store.snackbar.errorMessage('Could not add category to list in API: ' + e);
    }
  }

  async removeNumber() {
    (this.numInfo as NumberInfo).blockedAnumbers = this.blockedAnumbers.filter(
      (number) => number !== this.elemToRemove
    );
    try {
      const res = await axios.put(`api/call-protection/phone/${this.searchedNum}`, this.numInfo);
      if (res.status !== 204) {
        (this.numInfo as NumberInfo).blockedAnumbers = this.blockedAnumbers;
        throw new Error();
      }
      this.removeNumberDialog = false;
      this.blockedAnumbers = (this.numInfo as NumberInfo).blockedAnumbers;
    } catch (e) {
      store.snackbar.errorMessage('Could not remove number from blocklist in API: ' + e);
    }
  }

  async removeCategory() {
    (this.numInfo as NumberInfo).blockedCategories = this.blockedCategories.filter(
      (number) => number !== this.elemToRemove
    );
    try {
      const res = await axios.put(`api/call-protection/phone/${this.searchedNum}`, this.numInfo);
      if (res.status !== 204) {
        (this.numInfo as NumberInfo).blockedCategories = this.blockedCategories;
        throw new Error();
      }
      this.removeCategoryDialog = false;
      this.blockedCategories = (this.numInfo as NumberInfo).blockedCategories;
    } catch (e) {
      store.snackbar.errorMessage('Could not remove category from blocked categories in API: ' + e);
    }
  }
}
</script>
<style>
.card-title {
  color: white;
  background-image: linear-gradient(to top, rgba(7, 29, 79, 1), rgba(7, 29, 79, 0.7));
}
.number-info {
  display: flex;
  gap: 1.5rem;
}
.scroll-list {
  overflow-y: scroll;
  max-height: 15rem;
}
@media screen and (max-width: 523px) {
  .scroll-list {
    overflow-y: visible;
    max-height: inherit;
  }
}
</style>
