<template>
  <v-container>
    <div class="pa-10">
      <v-card>
        <v-card-title class="text-lg-h4 font-weight-black">
          Scoring Results
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <results-table :items="items" :search="search" />
      </v-card>
    </div>
  </v-container>
</template>

<script lang="ts">
import axios from 'axios';
import Vue from 'Vue';
import { Component } from 'vue-property-decorator';
import ScoringResult from '../types/ScoringResult';
import ResultsTable from '@/components/ResultsTable.vue';
import { store } from '@/store';

@Component({
  components: {
    ResultsTable,
  },
})
export default class Scoring extends Vue {
  name = 'Home';
  search = '';
  items: ScoringResult[] = [];
  getScoreColor(score: number) {
    if (score >= 90) return 'red';
    else if (score >= 80 && score < 90) return 'orange';
    else return 'green';
  }
  getDispositionColor(disposition: string) {
    if (disposition === 'Blocked') return 'red';
    if (disposition === 'Notified') return 'orange';
    else return 'green';
  }
  async getData() {
    try {
      let res = await axios.get('api/call-protection/results?limit=0');
      (res.data.body as ScoringResult[]).map((item: ScoringResult) => {
        item.disposition = item.blockCall ? 'Blocked' : item.isScam ? 'Notified' : 'Allowed';
        item.event.callTime = new Date((item.event.callTime as number) * 1000).toISOString();
        this.items.push(item);
      });
    } catch (e) {
      store.snackbar.errorMessage('Could not fetch scoring results from the API: ' + e);
    }
  }
  mounted() {
    this.getData();
  }
}
</script>
